<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>systemCode</key>
	<dict>
		<key>IDENTIFICATION_KBN</key>
		<dict>
			<key>IDENTIFICATION_UNENABLE</key>
			<dict>
				<key>code</key>
				<integer>0</integer>
				<key>name</key>
				<string>本人確認書類として取り扱わない</string>
			</dict>
			<key>IDENTIFICATION_ENABLE</key>
			<dict>
				<key>code</key>
				<integer>1</integer>
				<key>name</key>
				<string>本人確認書類として取り扱う</string>
			</dict>
		</dict>
		<key>ENABLE_KBN</key>
		<dict>
			<key>UNENFORCE</key>
			<dict>
				<key>code</key>
				<integer>0</integer>
				<key>name</key>
				<string>実施しない</string>
			</dict>
			<key>ENFORCE</key>
			<dict>
				<key>code</key>
				<integer>1</integer>
				<key>name</key>
				<string>実施する</string>
			</dict>
		</dict>
		<key>ID_DOC_KBN</key>
		<dict>
			<key>CARD_SPECIALIP</key>
			<dict>
				<key>code</key>
				<integer>5</integer>
				<key>name</key>
				<string>特別永住者証明書</string>
				<key>STM1</key>
				<string>2</string>
				<key>STM2</key>
				<string>card_specialP_Resident_o.png</string>
				<key>STM3</key>
				<string>card_specialP_Resident_u.png</string>
				<key>STM4</key>
				<string>show_cert</string>
			</dict>
			<key>CARD_RESIDENCE</key>
			<dict>
				<key>code</key>
				<integer>4</integer>
				<key>name</key>
				<string>在留カード</string>
				<key>STM1</key>
				<string>2</string>
				<key>STM2</key>
				<string>card_residence_o.png</string>
				<key>STM3</key>
				<string>card_residence_u.png</string>
				<key>STM4</key>
				<string>show_cert</string>
			</dict>
			<key>CARD_PASSPORT</key>
			<dict>
				<key>code</key>
				<integer>3</integer>
				<key>name</key>
				<string>パスポート</string>
				<key>STM1</key>
				<string>2</string>
				<key>STM2</key>
				<string>card_passport_o.png</string>
				<key>STM3</key>
				<string>card_passport_u.png</string>
				<key>STM4</key>
				<string>ep</string>
			</dict>
			<key>CARD_MYNUMBER</key>
			<dict>
				<key>code</key>
				<integer>2</integer>
				<key>name</key>
				<string>マイナンバーカード</string>
				<key>STM1</key>
				<string>1</string>
				<key>STM2</key>
				<string>card_mynumber_o.png</string>
				<key>STM3</key>
				<string></string>
				<key>STM4</key>
				<string>cardinfo</string>
			</dict>
			<key>CARD_DRIVER</key>
			<dict>
				<key>code</key>
				<integer>1</integer>
				<key>name</key>
				<string>運転免許証</string>
				<key>STM1</key>
				<string>2</string>
				<key>STM2</key>
				<string>card_drivers_o.png</string>
				<key>STM3</key>
				<string>card_drivers_u.png</string>
				<key>STM4</key>
				<string>dl</string>
			</dict>
		</dict>
		<key>ID_DOC_NFC_KBN</key>
		<dict>
			<key>CARD_DRIVER</key>
			<dict>
				<key>code</key>
				<string>1</string>
				<key>name</key>
				<string>運転免許証</string>
				<key>STM1</key>
				<string>1</string>
				<key>STM2</key>
				<string>IC_illustration.png</string>
			</dict>
			<key>CARD_MYNUMBER</key>
			<dict>
				<key>code</key>
				<string>2</string>
				<key>name</key>
				<string>マイナンバーカード</string>
				<key>STM1</key>
				<string>1</string>
				<key>STM2</key>
				<string>IC_illustration.png</string>
			</dict>
			<key>CARD_PASSPORT</key>
			<dict>
				<key>code</key>
				<string>3</string>
				<key>name</key>
				<string>パスポート</string>
				<key>STM1</key>
				<string>1</string>
			</dict>
			<key>CARD_RESIDENCE</key>
			<dict>
				<key>code</key>
				<string>4</string>
				<key>name</key>
				<string>在留カード</string>
				<key>STM1</key>
				<string>0</string>
			</dict>
			<key>CARD_SPECIALIP</key>
			<dict>
				<key>code</key>
				<string>5</string>
				<key>name</key>
				<string>特別永住者証明書</string>
				<key>STM1</key>
				<string>0</string>
			</dict>
		</dict>
		<key>READ_METHOD_KBN</key>
		<dict>
			<key>CAMERA</key>
			<dict>
				<key>code</key>
				<string>1</string>
				<key>name</key>
				<string>カメラ撮影</string>
				<key>STM1</key>
				<string>Howtoread_camera.png</string>
			</dict>
			<key>NFC</key>
			<dict>
				<key>code</key>
				<string>2</string>
				<key>name</key>
				<string>NFC読取</string>
				<key>STM1</key>
				<string>Howtoread_NFC.png</string>
			</dict>
		</dict>
	</dict>
	<key>errorCode</key>
	<dict>
		<key>EC01-001</key>
		<array>
			<string>ライブラリ起動パラメータの「APIキー（アクセス）」未指定</string>
			<string>ライブラリ起動パラメータに「APIキー（アクセス）」を指定する</string>
		</array>
		<key>EC01-002</key>
		<array>
			<string>ライブラリ起動パラメータの「確実性閾値」未指定</string>
			<string>ライブラリ起動パラメータに「確実性閾値」を指定する</string>
		</array>
		<key>EC01-003</key>
		<array>
			<string>ライブラリ起動パラメータの「確実性閾値」不正</string>
			<string>ライブラリ起動パラメータに「確実性閾値」を「1~4」いずれかで指定する</string>
		</array>
		<key>EC01-004</key>
		<array>
			<string>ライブラリ起動パラメータの「アプリケーション識別情報（UUID）」未指定</string>
			<string>ライブラリ起動パラメータに「アプリケーション識別情報（UUID）」を指定する</string>
		</array>
		<key>EC01-005</key>
		<array>
			<string>ライブラリ起動パラメータの「結果画像形式」未指定</string>
			<string>ライブラリ起動パラメータに「結果画像形式」を指定する</string>
		</array>
		<key>EC01-006</key>
		<array>
			<string>ライブラリ起動パラメータの「結果画像形式」不正</string>
			<string>ライブラリ起動パラメータに「結果画像形式」を「1~4」いずれかで指定する</string>
		</array>
		<key>EC01-007</key>
		<array>
			<string>ライブラリ起動パラメータの「顔照合re-Try回数」未指定</string>
			<string>ライブラリ起動パラメータに「顔照合re-Try回数」を指定する</string>
		</array>
		<key>EC01-008</key>
		<array>
			<string>ライブラリ起動パラメータの「顔照合re-Try回数」不正</string>
			<string>ライブラリ起動パラメータに「顔照合re-Try回数」を「0~10」いずれかで指定する</string>
		</array>
		<key>EC01-009</key>
		<array>
			<string>ライブラリ起動パラメータの「管理要否フラグ①（照合画像）」未指定</string>
			<string>ライブラリ起動パラメータに「管理要否フラグ①（照合画像）」を指定する</string>
		</array>
		<key>EC01-010</key>
		<array>
			<string>ライブラリ起動パラメータの「管理要否フラグ①（照合画像）」不正</string>
			<string>ライブラリ起動パラメータに「管理要否フラグ①（照合画像）」を「0、1」いずれかで指定する</string>
		</array>
		<key>EC01-011</key>
		<array>
			<string>ライブラリ起動パラメータの「管理要否フラグ②（本人確認書類画像）」未指定</string>
			<string>ライブラリ起動パラメータに「管理要否フラグ②（本人確認書類画像）」を指定する</string>
		</array>
		<key>EC01-012</key>
		<array>
			<string>ライブラリ起動パラメータの「管理要否フラグ②（本人確認書類画像）」不正</string>
			<string>ライブラリ起動パラメータに「管理要否フラグ②（本人確認書類画像）」を「0、1」いずれかで指定する</string>
		</array>
		<key>EC01-013</key>
		<array>
			<string>ライブラリ起動パラメータの「管理要否フラグ③（氏名）」未指定</string>
			<string>ライブラリ起動パラメータに「管理要否フラグ③（氏名）」を指定する</string>
		</array>
		<key>EC01-014</key>
		<array>
			<string>ライブラリ起動パラメータの「管理要否フラグ③（氏名）」不正</string>
			<string>ライブラリ起動パラメータに「管理要否フラグ③（氏名）」を「0、1」いずれかで指定する</string>
		</array>
		<key>EC01-015</key>
		<array>
			<string>ライブラリ起動パラメータの「管理要否フラグ④（住所）」未指定</string>
			<string>ライブラリ起動パラメータに「管理要否フラグ④（住所）」を指定する</string>
		</array>
		<key>EC01-016</key>
		<array>
			<string>ライブラリ起動パラメータの「管理要否フラグ④（住所）」不正</string>
			<string>ライブラリ起動パラメータに「管理要否フラグ④（住所）」を「0、1」いずれかで指定する</string>
		</array>
		<key>EC01-017</key>
		<array>
			<string>ライブラリ起動パラメータの「管理要否フラグ⑤（生年月日）」未指定</string>
			<string>ライブラリ起動パラメータに「管理要否フラグ⑤（生年月日）」を指定する</string>
		</array>
		<key>EC01-018</key>
		<array>
			<string>ライブラリ起動パラメータの「管理要否フラグ⑤（生年月日）」不正</string>
			<string>ライブラリ起動パラメータに「管理要否フラグ⑤（生年月日）」を「0、1」いずれかで指定する</string>
		</array>
		<key>EC01-019</key>
		<array>
			<string>ライブラリ起動パラメータの「管理要否フラグ⑥（運転免許証番号）」未指定</string>
			<string>ライブラリ起動パラメータに「管理要否フラグ⑥（運転免許証番号）」を指定する</string>
		</array>
		<key>EC01-020</key>
		<array>
			<string>ライブラリ起動パラメータの「管理要否フラグ⑥（運転免許証番号）」不正</string>
			<string>ライブラリ起動パラメータに「管理要否フラグ⑥（運転免許証番号）」を「0、1」いずれかで指定する</string>
		</array>
		<key>EC01-021</key>
		<array>
			<string>ライブラリ起動パラメータの「管理要否フラグ⑦（位置情報）」未指定</string>
			<string>ライブラリ起動パラメータに「管理要否フラグ⑦（位置情報）」を指定する</string>
		</array>
		<key>EC01-022</key>
		<array>
			<string>ライブラリ起動パラメータの「管理要否フラグ⑦（位置情報）」不正</string>
			<string>ライブラリ起動パラメータに「管理要否フラグ⑦（位置情報）」を「0、1」いずれかで指定する</string>
		</array>
		<key>EC08-001</key>
		<array>
			<string>サーバOCR要求のリクエスト回数上限</string>
			<string>ライブラリを終了する</string>
		</array>
		<key>EC05-001</key>
		<array>
			<string>自然人検知SDK初期化エラー</string>
			<string>リトライ</string>
		</array>
		<key>EC05-002</key>
		<array>
			<string>自然人検知SDK起動エラー</string>
			<string>リトライ</string>
		</array>
		<key>EC05-003</key>
		<array>
			<string>カメラ設定非許可エラー</string>
			<string>カメラ設定を許可する</string>
		</array>
		<key>EC05-004</key>
		<array>
			<string>自然人検知SDK撮影エラー</string>
			<string>リトライ</string>
		</array>
		<key>ES06-001</key>
		<array>
			<string>MegviiAWS通信エラー</string>
			<string>リトライ</string>
		</array>
		<key>ES06-002</key>
		<array>
			<string>MegviiAWS照合エラー</string>
			<string>再度モーション撮影を実施する</string>
		</array>
		<key>ES06-003</key>
		<array>
			<string>MegviiAWS機能エラー</string>
			<string>再度モーション撮影を実施する</string>
		</array>
		<key>EC09-001</key>
		<array>
			<string>取得情報サーバ送信機能エラー</string>
			<string>リトライ</string>
		</array>
		<key>EC09-002</key>
		<array>
			<string>取得情報サーバ送信機能エラー</string>
			<string>リトライ</string>
		</array>
		<key>ES08-1001</key>
		<array>
			<string>OCR対象の指定画像不備</string>
			<string>OCR処理可能な画像を使用する</string>
		</array>
		<key>ES08-9000</key>
		<array>
			<string>OCR処理での内部エラー、不明なエラー</string>
			<string>リトライ</string>
		</array>
		<key>SF-008-1I</key>
		<array>
			<string>ICチップの読取を開始します。端末から%1を離さないでください。</string>
			<string>ICチップ読取開始</string>
			<string></string>
		</array>
		<key>SF-008-2I</key>
		<array>
			<string>%1のICチップの情報を確認しています。</string>
			<string>ICチップ読取完了時に表示</string>
			<string></string>
		</array>
		<key>SF-001-01E</key>
		<array>
			<string>起動処理でエラーが発生しました。はいボタンタップで処理を終了します。</string>
			<string>ライブラリ起動処理でエラー発生時に表示するメッセージ。</string>
			<string>メッセージ表示のポップアップのボタンタップでライブラリを終了する。</string>
		</array>
		<key>SF-006-01E</key>
		<array>
			<string>券面情報の読み取りに失敗しました。再撮影ボタンより表面の再撮影をしてください。</string>
			<string>OCR処理で画像不備エラーの場合に表示するメッセージ。</string>
			<string>メッセージに記載の対処をする。</string>
		</array>
		<key>SF-006-02E</key>
		<array>
			<string>券面情報の読み取り回数が上限に達したため、処理を終了します。</string>
			<string>OCR処理でOCR上限回数エラーの場合に表示するメッセージ。</string>
			<string>メッセージ表示のポップアップのボタンタップでライブラリを終了する。</string>
		</array>
		<key>SF-008-1E</key>
		<array>
			<string>本人確認書類が%1ではありません。正しい本人確認書類をご使用の上、再度お試しください。。</string>
			<string>NFC読取時の本人確認書類の種類チェックに表示するメッセージ。</string>
			<string>正しい本人確認書類のNFC読取を行う。</string>
		</array>
		<key>SF-008-2E</key>
		<array>
			<string>%1がブロックされています。\n%2でブロック解除の申請をしてください。</string>
			<string>NFC読取時の読取内容のチェックに表示するメッセージ。</string>
			<string>指定の機関でブロック解除の申請をする。</string>
		</array>
		<key>SF-008-3E</key>
		<array>
			<string>%1が間違っています。%1を正しく入力してください。\n%2のこり%2回間違えるとブロックされます。</string>
			<string>NFC読取時の読取内容のチェックに表示するメッセージ。</string>
			<string>正しい暗証番号を入力する。</string>
		</array>
		<key>SF-008-4E</key>
		<array>
			<string>本人確認書類が偽・変造、または有効期限が切れています。処理を終了します。</string>
			<string>NFC読取時の読取内容の偽・変造チェックに表示するメッセージ。</string>
			<string>ライブラリを終了する。</string>
		</array>
		<key>SF-008-5E</key>
		<array>
			<string>本人確認書類の有効期限が切れています。他の本人確認書類をご使用の上、再度お試しください。</string>
			<string>OCR/NFC読取時の読取内容の期限切れチェックに表示するメッセージ。</string>
			<string>再度、OCR/NFC読取を行う。</string>
		</array>
		<key>SF-008-6E</key>
		<array>
			<string>NFCがOFFになっています。ONの設定を行ってから、お試しください。</string>
			<string>NFC設定チェック時に表示するメッセージ。</string>
			<string>NFCの設定をONにし、NFC読取を行う。</string>
		</array>
		<key>SF-014-01E</key>
		<array>
			<string>画像の照合処理に失敗しました。はいボタンをタップし、顔モーションの再撮影をしてください。</string>
			<string>照合処理で画像不備エラーの場合に表示するメッセージ。</string>
			<string>メッセージに記載の対処をする。</string>
		</array>
		<key>SF-015-01E</key>
		<array>
			<string>画像の照合処理に失敗しました。はいボタンをタップし、本人および本人確認書類モーションの再撮影をしてください。</string>
			<string>照合処理で画像不備エラーの場合に表示するメッセージ。</string>
			<string>メッセージに記載の対処をする。</string>
		</array>
		<key>CM-001-01E</key>
		<array>
			<string>%1は%2で入力してください。</string>
			<string>テキストボックスの属性チェック</string>
			<string>%1を正しい属性で入力する。</string>
		</array>
		<key>CM-001-02E</key>
		<array>
			<string>%1処理において、通信エラーが発生しました。\n電波状態、端末の設定をご確認のうえ、時間をおいて再度お試しください。</string>
			<string>サーバ通信処理にてエラーが発生した場合に表示するエラーメッセージ。</string>
			<string>メッセージを閉じて、再実行を行う。</string>
		</array>
		<key>CM-001-03E</key>
		<array>
			<string>%1処理において、エラーが発生しました。再度お試しください。\n繰り返し発生する場合は、閉じるボタンより処理を終了してください。</string>
			<string>処理にてエラーが発生した場合に表示するエラーメッセージ。（再実行しても、復旧が難しいパターン）</string>
			<string>メッセージを閉じて、再実行を行う。繰り返し発生する場合は閉じるボタンよりライブラリを終了する。</string>
		</array>
		<key>CM-001-04E</key>
		<array>
			<string>カメラの起動に失敗しました。カメラの設定状態をご確認のうえ、再度お試しください。</string>
			<string>カメラ起動時に、ハードウェア処理のエラーが返却された場合に表示するメッセージ。</string>
			<string>メッセージに記載の対処をする。</string>
		</array>
		<key>CM-001-05E</key>
		<array>
			<string>画像の照合リクエスト回数が上限に達したため、処理を終了します。</string>
			<string>照合リクエスト上限回数エラーの場合に表示するメッセージ。</string>
			<string>メッセージ表示のポップアップのボタンタップでライブラリを終了する。</string>
		</array>
		<key>CM-001-06E</key>
		<array>
			<string>操作開始から一定時間経過したため、本人確認処理を終了します。</string>
			<string>API Gateway/FaceIDの認証トークン有効期限切れエラーの場合に表示するメッセージ。</string>
			<string>メッセージ表示のポップアップのボタンタップでライブラリを終了する。</string>
		</array>
		<key>CM-001-07E</key>
		<array>
			<string>照合画像の認識に失敗しました。再度、本人確認書類の%1をしてください。</string>
			<string>MegviiAWSにて受信画像より照合用画像の特定が不可能な場合のメッセージ。</string>
			<string>メッセージ表示のポップアップのボタンタップで本人確認書類の選択より再処理する。</string>
		</array>
		<key>CM-001-08E</key>
		<array>
			<string>中断しますか？</string>
			<string>ヘッダの中断ボタンタップ時に表示するメッセージ。</string>
			<string>メッセージ表示のポップアップのボタンタップでライブラリを終了する。</string>
		</array>
		<key>CM-001-99E</key>
		<array>
			<string>エラーが発生しました。アプリを終了してください。</string>
			<string>ライブラリ処理にて例外発生時に表示するメッセージ。</string>
			<string>アプリを終了する。</string>
		</array>
	</dict>
</dict>
</plist>
